<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995417312398-20do9sir4o9fk33d9g44l8llbnkc4kj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995417312398-20do9sir4o9fk33d9g44l8llbnkc4kj9</string>
	<key>API_KEY</key>
	<string>AIzaSyB15m-SZketOoFSYxOw2681xHWsYnVzYwg</string>
	<key>GCM_SENDER_ID</key>
	<string>995417312398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alteacare.app.lite</string>
	<key>PROJECT_ID</key>
	<string>webrtc-demo-101fc</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-demo-101fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995417312398:ios:75dc6fdfbb010aa57b8ddf</string>
</dict>
</plist>